.menu_container {
  padding: 2%;
}

.menu_button {
    border: none;
    padding: 0.3%;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.menu_button:hover {
  color: rgb(0, 0, 255);
  cursor: pointer;
}
  

.menu_ul {
    width: 5vw;
    height: 8vh;
    list-style-type: none;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 50px;
    right: 0;
    border-radius: 4px;
}
  

.li {
    margin: 10px 0;
}

.Login a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
}

.Login a:hover {
  color: #8484ff;
}

.Cadastro a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
}

.Cadastro a:hover {
  color: #8484ff;
}