@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Inter&display=swap');

.main_login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.left_login {
    max-width: 500px;
    width: 90%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.card_left {
    padding-top: 10%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.card_left h2 {
    justify-content: center;
    display: flex;
    width: 100vw;
    color: white;
    font-size: 4vh;
    font-style: normal;
    line-height: normal;
    font-family: 'Lilita One', cursive;
}

.card_left img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 3%; 
}

.right_login {
    max-width: 500px; 
    width: 90%; 
    height: auto; 
    color: white;
    display: flex;
    justify-content: center;
}

.card_right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30%;
}

.card_right h1 {
    text-align: center;
    color: #FFF;
    font-size: 6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
    font-family: 'Lilita One', cursive;
}

.card_right label {
    color: #ffffff;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3%;
    font-family: 'Inter', sans-serif;
    padding: 3%;
    cursor: auto;
}

.login_input {
    width: 140%;
    height: 35px;
    flex-shrink: 0;
    border-radius: 15px;
    border: none;
    font-size: 2vh;
    margin-left: -4%;
    padding: 10px;
}

.login_input:hover {
    background-color: #dbdbdb;
    transition: 0.5s;
}

.login_input:focus {
    outline: none;
    background-color: #dbdbdb;
}

.card_right a {
    color: white;
    display: flex;
    justify-content: start;
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    margin-top: 3%;
}

.button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn_login {
    margin-top: 3%;
    background-color: #8A01FF;
    border: none;
    border-radius: 10px;
    width: 80%;
    max-width: 280%;
    height: 45px;
    justify-content: center;
    color: #FFF;
    font-family: Lilita One;
    font-size: 2.5vh;
}

.btn_login:hover {
    background-color: #6900c5;
    transition: 0.5s;
    cursor: pointer;
}