.Container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background: linear-gradient(180deg, #6700BF 0%, #000 65.61%, #000 100%);
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
}
