@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Inter&display=swap');

.main_cadastro {
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.left_cadastro {
    border-radius: 15px;
    background: #D9D9D9;
    width: 50vw;
    height: 90vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

.left_cadastro h1 {
    font-size: 2.5em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.left_cadastro p {
    margin: 5%;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.right_cadastro {
    width: 50%;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card_cadastro {
    width: 90%;
    text-align: center;
    justify-content: center;
}

.card_cadastro h1 {
    color: #FFF;
    font-family: Lilita One;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card_cadastro p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    margin-bottom: 5%;
}

.input_cad {
    width: 30vw;
    height: 3vh;
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 1%;
    padding: 15px;
    margin-bottom: 3%;
}

.input_cad::placeholder {
    font-size: 16px;
}

.input_cad:hover::placeholder {
    background-color: #ffffff;
    transition: all 0.5s ease;
    font-size: 10px;
    transform: translateY(-14px);
}

.input_cad:focus {
    outline: none;
}

.btn_cad {
    margin-top: 6%;
    width: 25vw;
    height: 7vh;
    border-radius: 15px;
    background: #8A01FF;
    color: #FFF;
    font-family: Lilita One;
    font-size: 1.3em;
    font-style: normal;
    line-height: normal;
    border: none;
}

.btn_cad:hover {
    background-color: #6900c5;
    transition: 0.5s;
    cursor: pointer;
}